/* General CSS which affects whole page */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frank Ruhl Libre', serif;
  margin: 0;
}

p {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.white-text {
  color: white;
}

a.btn {
  background: white;
  padding: 14px 44px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: black;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1)
}

/* ~~~~~~~~~~~~~~Landing page ~~~~~~~~~~~~~~~~ */

/* Hero section */
.hero-main {
  
  background: #C7DDEA;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  
}

.hero-main h1 {
  margin-top: 70px;
  font-size: 45px;
}

.hero-main p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  
}

.hero-main a {
  align-self: flex-start;
  margin-top: 40px;
}

.hero-main img {
  align-self: center;
  max-width: 100%;
  margin-top: 40px;
}

.hero-learn-more {
  background: #F17949;
}

.hero-join-today {
  background: #FAB131;
}

.hero-aside {
  min-height: 315px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero-aside h3 {
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.hero-aside p {
  font-size: 11px;
  font-weight: bold;
}

/* Navigation */

/* Financial safety net */

/* About us */
.about-us {
  background: #fab131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.about-us h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 30px;
  
}

.about-us p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  
  text-align: center;
}

/* How it works */

/*Footer link */

/*Footer box*/

/* ~~~~~~~~~~~~~~Contact page ~~~~~~~~~~~~~~~~ */

/* Hero section */

/* Contact section */

/* Map section */

/* ~~~~~~~~~~~~~~Media Queries Landing page ~~~~~~~~~~~~~~~~ */
@media only screen and (min-width: 600px) {
/* Hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
}
.hero-main {
  grid-row: span 2;
  padding-left: 20px;
  
  
}

.hero-main img {
  align-self: flex-end;
  max-width: 90%;
  margin-top: 0;
}

.hero-aside {
  min-height: 0;
}
/* About us */
.about-us {
  padding: 180px 50px;
}

.about-us p {
  max-width: 50%;
}

}

@media only screen and (min-width: 800px) {
  .hero-main {
    padding-left: 100px;
  }
  .hero-main p {
    max-width: 35ch;
  }
}


/* Navigation */

/* Financial safety net */



/* How it works */

/*Footer link */

/*Footer box*/

/* ~~~~~~~~~~~~~~ Media Queries Contact page ~~~~~~~~~~~~~~~~ */

/* Hero section */

/* Contact section */

/* Map section */