/* General CSS which affects whole page */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html {
  font-size:62.5%;
}

body {
  font-size: 1.6em;
  /* line-height: 1.6em; */
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frank Ruhl Libre', serif;
}
.heading {
  font-size: 3em;
  line-height: 1em;
}

p {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.white-text {
  color: white;
}

a.btn {
  background: white;
  padding: 14px 44px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: black;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1)
}




/* ~~~~~~~~~~~~~~Landing page ~~~~~~~~~~~~~~~~ */

/* Hero section */
.hero-main {
  
  background: #C7DDEA;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  
}

.hero-main h1 {
  margin-top: 70px;
  font-size: 45px;
}

.hero-main p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  
}

.hero-main a {
  align-self: flex-start;
  margin-top: 40px;
}

.hero-main img {
  align-self: center;
  max-width: 100%;
  margin-top: 40px;
}

.hero-learn-more {
  background: #F17949;
}

.hero-join-today {
  background: #FAB131;

}

.hero-aside {
  min-height: 315px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero-aside h3 {
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.hero-aside p {
  font-size: 11px;
  font-weight: bold;
}

/* Navigation */
nav {
  padding: 2rem;
  display: none;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-menu__item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.nav-menu__item a:hover {
  color: #000;
}
/* Financial safety net */
.safety-net {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
}
.safety-net__heading {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  overflow: hidden;
}
.safety-net__heading h1 {
  width: 12ch;
}
.safety-net__heading a {
  display: none;
}
.safety-net__information {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.safety-net__information p {
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

.safety-net-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8rem;
  column-gap: 2rem;
  justify-content: center;
  margin-top:5rem;
  margin-bottom: 7rem;
}

.safety-net-card__img {
  min-width: 90%;
  min-height: 15rem;
  margin-top: -4rem;
  background-position: center 1rem;
  background-size: 15rem;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.img-child {
  background-color: rgb(173, 216, 230); 
  background-image: url("./img/child.png");
  background-size: 9rem;
}
.img-adult {
  background-color: #FAB131;
  background-image: url("./img/adult.png");
  background-size: 10rem;

}
.img-old {
  background-color: #F17949;
  background-image: url("./img/old.png");
}

.safety-net-card {
  background-color: #fff;
  display: flex;
  max-width: 29rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 4px;
}
.safety-net-card h2 {
  padding-top: 2rem;
}
.safety-net-card p {
  font-weight: 900;
  text-align: center;
  padding: 0 2rem 6rem 2rem;
  color:rgba(0, 0, 0, 0.4);
  font-size: .8em;
}

/* About us */
.about-us {
  background: #fab131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.about-us h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 30px;
  
}

.about-us p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

/* How it works */

/*Footer link */

/*Footer box*/

/* ~~~~~~~~~~~~~~Contact page ~~~~~~~~~~~~~~~~ */

/* Hero section */

/* Contact section */

/* Map section */


.address {
  background: #FAB131;
  padding: 20px;
  padding-bottom: 100px;
}

.address h1 {
  color: white;
  font-size: 45px;
  
}

.address p {
color: white;
font-size: 14px;
font-weight: 500;
}

.map-img-small {
  max-width: 100%;
}

.map-img {
  display: none;
}


/* ~~~~~~~~~~~~~~Media Queries Landing page ~~~~~~~~~~~~~~~~ */
@media only screen and (min-width: 600px) {
/* Hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
}
.hero-main {
  grid-row: span 2;
  padding-left: 20px;
  
  
}

.hero-main img {
  align-self: flex-end;
  max-width: 90%;
  margin-top: 0;
}

.hero-aside {
  min-height: 0;
}
/* About us */
.about-us {
  padding: 180px 50px;
}

.about-us p {
  max-width: 50%;
}


}

@media only screen and (min-width: 800px) {
  .hero-main {
    padding-left: 100px;
  }
  .hero-main p {
    max-width: 35ch;
  }
}


/* Navigation */
@media only screen and (min-width: 600px) {
  nav {
    display: block
  }
}

/* Financial safety net */

@media only screen and (min-width: 798px) {

  .safety-net__heading {
    margin:0 auto 10rem auto;
    row-gap: 6rem;
    padding-top:8rem;
    padding-left: 5rem;
    
  }

  .safety-net__information {
    margin: 0 auto;
    padding: 8rem 2rem 0 0;

  }

  .safety-net__heading a {
    display: block;
    padding:1.5rem;
    width: 13.2rem;
    text-align: center;
    
  }
  .safety-net__information p {
    width: 30ch;
  }
}

@media only screen and (min-width: 910px) {
  .safety-net-wrapper {
    max-height: 12vh;
  }  
}

/* How it works */

/*Footer link */

/*Footer box*/

/* ~~~~~~~~~~~~~~ Media Queries Contact page ~~~~~~~~~~~~~~~~ */
@media only screen and (min-width: 602px) {
 /* Hero section */

/* Contact section */


/* Map section */ 
.map-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 48px);
}

.address {
  grid-row: 2/span 4;
  grid-column: 2 / span 4;
  z-index: 2;
}

.map-img {
  max-width: 100%;
  display: block;
  grid-column: 1/-1;
  grid-row: 1 / 9;
}

.map-img-small {
  display: none;
}
}
